body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  font-family: 'Spoqa Han Sans', 'Nanum Gothic', 'Malgun Gothic', Arial, 'Sans-serif';
  line-height: 120%;
}

.inner {
  position: relative;
  width: 100%;
  max-width: $layout-width;
  margin-left: auto;
  margin-right: auto;
  @extend %clearfix;

  .l-section & {

    padding-top:rem($layout-inner-padding);
    padding-bottom:rem($layout-inner-padding);
  
    padding-left: rem($layout-inner-padding);
    padding-right: rem($layout-inner-padding);
  }
  
}