body{
	margin:0;
	padding:0;

	color:#555;
	background-color:#f8f8f8;
}

.inner{
	position:relative;
	width:100%;
	max-width:$layout-width;

	margin-left:auto;
	margin-right:auto;

	@extend %clearfix;
}