.l-header {
  position: relative;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  /** Less than IE8 Polyfill */
  background-color: rgba(255, 255, 255, .95);
  border-bottom: 1px solid #e0e0e0;
  @extend %clearfix;
  .bi {
    float: left;
    font-size: rem(17px);
  }
  .inner {
    //	padding-left:rem(22px);
    //	padding-right:rem(22px);
  }
}