.post {
  padding-top: rem($layout-inner-padding);
  padding-bottom: rem($layout-inner-padding);
  margin-bottom: rem(40px);
  &:after {
    $width: rem(270px);
    content: '';
    display: block;
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: $width;
    height: 1px;
    margin-left: -$width/2;
    background-color: #c0c0c0;
  }
}


/**
 * Posts
 */

.post-header {
  position: relative;
  padding-bottom: rem(14px);
  margin-left: rem(-14px);
  margin-right: rem(-14px);
  margin-bottom: rem(30px);
  text-align: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 120px;
    height: 1px;
    margin-left: -60px;
    background-color: #e0e0e0;
  }
}

.post-meta {
  margin-top: rem(8px);
  font-size: rem(14px);
  color:$color-grey;
  @extend %no-margin;
}

.post-title {
  font-size: rem(32px);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  font-size: rem(16px);
  margin-top: rem(40px);
  margin-bottom: rem(30px);
  h2,
  h3,
  h4 {
    margin-top: rem(34px);
    margin-bottom: rem(18px);
    color: $color-heading;
  }
  h2 {
    font-size: rem(32px);
  }
  h3 {
    font-size: rem(26px);
  }
  h4 {
    font-size: rem(20px);
  }
}