// -------------------------
// Layout variables
// ------------------------- 
$layout-width:890px;
$layout-inner-padding: 45px;

// ------------------------- 
// Layout - header
// ------------------------- 
$header-height: 65px;

// -------------------------
// Color variables
// ------------------------- 
$color-anchor:#2890b9;
$color-heading:#555;
$color-grey: #828282;
$color-grey-light: lighten($color-grey, 40%);